<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <h2>Ready to play the longest word?</h2>
      <form action="/game">
        <button type="submit" class="btn btn-primary">Play!</button>
      </form>
    </div>
  </div>
</div>
